@font-face {
    font-family: Bebas;
    src: url(../Fonts/BebasNeue.otf);
}
@font-face {
    font-family: SourceSansPro;
    src: url(../Fonts/SourceSansPro-Regular.ttf);
}

body {
    width: 100%;
    height: 100%;
    font-family: SourceSansPro;
    background-color: transparent;
}


.navbar-nav>li>a {
    line-height: normal;
}


.navbar-default {
    background-color:  #363636;
    box-shadow: 9px 16px 59px 0.00px rgba(0, 0, 0, 0.66);
    border:none;
    font-family: Bebas;
    color:  #ffffff;
    font-size: 20px;
    height:60px;

}
.navbar-default .navbar-brand {
    font-size: 11px;
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
    color:  #ffffff;
}

.navbar-default .navbar-nav>li>a:hover{
    color :#db224b;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;

}

.navbar .navbar-collapse {
    text-align: center;

}

.navbar-brand {
    width: 100px;
}
body > footer > div > div > p {
    font-size: 10px;
}


.full {
    background: url('../Images/homebackground.png') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.fulltimeline {
    background: url('../Images/timelinebackground.png')no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;


}

.fullfuture {
    background: url('../Images/futurebackground.png')no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
   background-color: transparent;
    color: white;
    border-bottom: 4px solid #db224b;
}
.navbar-default .navbar-nav>.active>a:hover {
    color:#db224b;
    background-color: transparent;
}

#wrapper {
    width: 80%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

#start {
    height: 100vh;
}

#about {
   height:90vh;
}
#project {
    width: 55%;
    margin-left: auto;
    margin-top: 30%;
    margin-right: auto;
    text-align: center;
    font-size:20px;
    font-weight: bolder;
    color:white;
    background-color:#363636;
    padding: 20px;
}
#Jolene {
    width: 40%;
    float: left;
    margin-left: 5%;
    text-align: center;
    font-size: 14px;
    color:#ffffff;
    margin-top: 5%;

    text-shadow: 2px 2px 3px rgb(119, 119, 119);
    font-family: SourceSansPro;
}
#Brenko{
    width: 40%;
    float: right;
    margin-right: 5%;
    text-align: center;
    font-size: 14px;
    color:white;
    margin-top: 5%;
    text-shadow: 2px 2px 3px rgb(124, 124, 124);
    font-family: SourceSansPro;
}

#Jolene img, #Brenko img {
max-width: 200px;
    margin-bottom: 3%;
   height: auto;
    border: 7px solid #db224b;
    border-radius: 100%;
}

.goup {
    top: 50vh;
    float: right;
    color: white;
    font-size: 30px;
    left: 40%;
}

#google iframe {
    width: 50%;
    height: 50%;
    margin-left: 25%;
border: 5px solid #7c7c7c;
    margin-top: 150px;
}
#goback {
    margin-top: 70vh;
    float: right;
    color: white;
    font-size: 30px;
    position: fixed;
}
.titel {

    max-width: 100%;
    height: auto;
    margin-top: 25%;
    float: right;
    visibility: hidden;
}

.quote {
    clear: both;
    float: right;
    color:  #f6f6f6;
    font-size: 18px;
    font-style: italic;
    text-align: right;
    max-width: 300px;
    height: auto;
    visibility: hidden;

}

#startjourney {
    clear: both;
    margin-top: 100px;
    width: 15%;
    margin-right: auto;
    margin-left: auto;
}
#startjourney p {
    float: right;
    margin-left: 5px;
    vertical-align:middle;
    text-align: center;
    color : white;
    font-size: 20px;
    font-weight: 400;
    font-weight: bolder;
}

.journey {
    height:50vh;
    background-color: #2b2b2B;
}

#journey {
     height:100vh;
     width: 100%;
     background-color:#bfbfbe;;
 }

#infojourney {

    background-image: url("../Images/journeybackground.png"); /*no-repeat top center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: 45px;
    height: 40vh;
    position: fixed;

}

#infojourneytekst {
    background-color:#2b2b2B;
    color: white;
    width: 40%;
    height:auto;
    padding: 20px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    visibility: hidden;
}
h1{
    text-align: center;
    font-size: 24px;
    font-weight: 400;

}

.clickyear {
    text-align: center;
    font-family: Bebas;
    color: white;
    background-color:  #2b2b2B;
    padding: 4px;
    font-size: 20px;
    width: 15%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

#tijdslijn{
    height: 60vh;
    width: 100%;
    margin-top: 50vh;
    background-color:  #bfbfbe;
    background-image: url('../Images/timelinebackground.jpg');
    background-position: bottom;

position: fixed;
}

#tijden {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    position: fixed;
}

#tijden ul {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#tijden ul > li {

    float: left;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    color: #ffffff;
    height: 40px;
    font-family: SourceSansPro;
 background-color:#db224b;
    transition:height 0.5s; /* Animation time */
    -webkit-transition:height 0.5s; /* For Safari */
}

#tijden ul>li:hover{
    background-color: #2b2b2B;
    height: 48px;

}
#tijden ul>li>a {
    color: #ffffff;
    text-decoration: none;

}
#jaartallen{
    width: 90%;

    margin-left: auto;
    margin-right: auto;


}
#jaartallen ul {
    width: 90%;
    margin-left:auto;
    margin-right: auto;
}
#jaartallen ul > li {
    text-decoration: none;
}
#jaartallen > li{
    float:left;
    padding: 10px;
    padding-top: 20px;
    width: 90px;
    height: 70px;

    background-color:#db224b;
    background-image: url("../Images/backgroundtimeline.png");
    background-position: bottom;

    background-repeat: repeat-x;
    text-align:center;
    vertical-align: text-top;
    list-style: none;
    transition:height 0.5s; /* Animation time */
    -webkit-transition:height 0.5s; /* For Safari */

}
#jaartallen > li > a{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-family: Bebas;
    font-size: 19px;


}

#jaartallen > li:hover{
    background-color: #2b2b2B ;
    height: 90px;
}

#jaartallen >li>a:visited {
    background-color: #2b2b2B ;

}

.pc {
    padding-top:2vh;
    height: 85vh;
    margin-top: 50px;
}

.titelfuture {
    margin-top: 40vh;
    width: 20%;
    color: white;
    font-family:Bebas;
    margin-left: auto;
    margin-right: auto;
}
#titelfuture {
    visibility: hidden;
}
#titelfuture > h1 {

    color: white;
    font-family: Bebas;
    font-size: 30px;
}


.naam {
    margin-top: 110px;
    font-family: Bebas;
    text-align: center;
    color:  #ffffff;
    font-size: 72px;
    text-transform: capitalize;
}

.year {
    margin-top: -10px;
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 4px;
    background-color: #db224b;
    font-family: Bebas;
    color:  #ffffff;
    font-size: 30px;


}

.info {
    margin-top: 70px;
    float: left;
    margin-left: 5vw;
    max-width: 35vw;
    color:  #ffffff;
    font-size: 14px;
    text-align: justify;

}
.pc a {
    color: white;
}
.pc a:hover{
    text-decoration: none;
}
.pc img {
    margin-top: 50px;
    max-width: 375px;
    height: auto;
    float: right;
    margin-right:40px;
}
/*.pc > .hp{
    max-width:650px;
    margin-right:250px;
}*/
#printer{
    background-image: url('../Images/HP_9830.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-top:70px;
}
.blad{
     margin-top:254px;
     background-color: white;
     margin-left:556px;
     position:absolute;
     width:290px;
     height:0px;
 }
.bladGeprint{
    -webkit-transition:  5s;
    -moz-transition:  5s;
    -ms-transition:  5s;
    -o-transition: 5s;
    transition: 5s;
    height:220px;
    margin-top:34px;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    width:290px;
    padding: 10px;
}

#print {
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:405px;

}
#printGeprint {
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:151px;

}
#print > input,#printGeprint > input{
    background-color: black;
    color:red;
    font-family: "Courier New";
    width: 400px;
    height: 40px;
    margin-left: -35px;
}
#printen{
    margin-left:50px;
    height:30px;
    width:75px;
    background-color: #000000;
    color: #ffffff;


}


#game{
    margin-top:120px;
    margin-right:-225px;
    width:80px;
    height:43px;
    float:right;
    display:inline;
    font-size:10px;
    padding: 2px;
    border-radius: 10%;
    color:white;
    font-family: "Lucida Console";
    background-color: #2b2b2B ;
    text-align: center;
}
#pacman{
    width: 60px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.schermPacman{
    margin-top: 20px;
    height: 560px;
    width: 660px;
    margin-left:auto;
    margin-right:auto;
    border:30px solid white;
    background-color:black;
}
#myCanvas{
    display:none;
    height:500px;
    width:600px;

}
#locatie :hover, #pacman:hover{
   cursor: pointer;
}
#locatie{
    float: right;
    margin-right: -315px;
    margin-top: 75px;
    background-color: gray;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 75px;
    height: 191px;
}
#locatie > img{
    margin-top:10px;
}
#locatie > p{
    margin-left:-20px;
}
.pc .ipad{
    max-width:836px;
    height:545px;
    margin-right:190px;
}
#map{

width:575px;
margin-top: -50%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}


.pc a {
    color: white;
}

.pc a:hover{
    text-decoration: none;
}
#mapcontainer{
    height:500px;
}
.tekstVerwerker{
    margin-top: 200px;
    height:70%;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    border:20px solid gray;
    border-radius: 2%;
    background-color:white;
    background-image:url("../Images/wordheader.png");
    background-position: top;
    background-repeat: no-repeat;

}




#buttons{
    list-style: none;
}
.styleBtn{
    float:left;
    width:20px;
    height:20px;
    margin-top:42px;
    margin-bottom: 20px;
    margin-right:20px;
}
#bold{
    font-weight:bolder;
}
#italic{
    font-style:italic;
}
#line{
    text-decoration:underline;
}
.bold{
    font-weight:bolder;
}
.italic{
    font-style:italic;
}
.line{
    text-decoration:underline;
}
textarea{
    padding: 10px;
    width: 100%;
    height: 60%;
    margin-top:16px;
    font-family: "Courier New";
}
#hide{
    width:100%;
    height:100%;
    background-image:url('../Images/ipad.png');
    background-repeat: no-repeat;
    background-position: center;
}
@media (min-width: 400px) and (max-width:1070px){
    #infojourneytekst{
        width:100%;
    }
    #tijden{
        width:100%;
        margin-top:10px;
    }
    .clickyear{
        width: 30%;
    }
    #jaartallen{
        width:100%;
    }
    .naam{
        font-size:36px;
    }
    .pc >img{
        margin-right:auto;
        margin-left:auto;
    }
    .info{
        max-width:100vw;
    }
}
@media(min-width:400px) and (max-width:1000px){
    .pc .ipad, .schermPacman, #game, #pacman,.test,#pac ,#tekstVerwerker, #printer,#google,#hide {
        display: none;
    }
}

@media (min-width:100px) and (max-width: 450px) {
    .pc .ipad, .schermPacman, #game, #pacman,.test,#pac ,#tekstVerwerker, #printer,#google,#hide {
        display: none;
    }
    #jaar79 > .jaartal {
        margin-top:500px;
    }
    #jaar80 > .jaartal{
        margin-top:700px;
    }
    #jaar81 > .jaartal{
        margin-top:900px;
    }
    #jaar83 > .jaartal{
        margin-top:1100px;
    }
    #jaar87 > .jaartal{
        margin-top:1300px;
    }
    #jaar89 > .jaartal{
        margin-top:1700px;
    }
    #jaar91 > .jaartal{
        margin-top:2100px;
    }
    #jaar92 > .jaartal{
        margin-top:2500px;
    }
    #jaar98 > .jaartal{
        margin-top:2500px;
    }
    #jaar06 > .jaartal{
        margin-top:2300px;
    }
    #jaar10 > .jaartal{
        margin-top:2400px;

    }
    #jaar10{
        height:3000px;
    }

    #tijden ul {
        width: 80%;
        margin-left: 0px;
        margin-right: 0px;

    }
    #tijden {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7px;
    }
    #tijden ul > li {
        float: left;
        text-decoration: none;
        list-style: none;
        padding: 2px;
        color: #ffffff;
        height: 40px;
        font-family: SourceSansPro;
        background-color: #db224b;
        transition: height 0.5s;
        -webkit-transition: height 0.5s;
    }
    .navbar .navbar-nav {
        float: right;
    }
    #jaartallen {
        width: 100%;
    }
    #jaartallen > li {
        float: left;
        padding: 0px;
        padding-top: px;
        width: 50px;
        height: 43px;
        background-color: #db224b;
        background-image: url("../Images/backgroundtimeline.png");
        background-position: bottom;
        background-repeat: repeat-x;
        text-align: center;
        vertical-align: text-top;
        list-style: none;
        transition: height 0.5s;
        -webkit-transition: height 0.5s;
    }
    .container {
        padding-right: 5px;
        padding-left: 5px;
    }

    #project {
        font-size: 12px;
    }

    h1 {
        font-size: 16px;
    }
    .clickyear{
        width:100%;
    }
    #infojourneytekst {
        width: 100%;
        font-size: 11px;
    }

    p {
        width: 100%;
    }

    .pc {
        margin-bottom: 50px;
    }

    .naam {
        font-size: 25px;
    }

    .year {
        font-size: 20px;
    }

    .pc img {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .info {
        font-size: 12px;
        max-width: 80%;
        margin-left: 45px;
    }

    .pc .hp {
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 175px;
    }

    .blad {

        margin-top: 295px;
        background-color: white;
        margin-left: 125px;
        position: absolute;
        width: 127px;
        height: 0px;
    }

    .bladGeprint {
        -webkit-transition: 5s;
        -moz-transition: 5s;
        -ms-transition: 5s;
        -o-transition: 5s;
        transition: 5s;
        height: 95px;
        margin-top: 248px;
        background-color: white;
        margin-left: 89px;
        position: absolute;
        width: 127px;

    }

    #print {
        position: absolute;
        margin-left: 8.5%;
        margin-top: 403px;

    }

    #print > input {
        width: 165px;
        height: 20px;
    }

    #printen {
        margin-left: 20px;
        height: 20px;
        width: 45px;

    }

    #locatie {
    margin-top: 67px;
        padding-right: 22px;
        padding-left: 20px;
        margin-right: -209px;
        padding-bottom: 15px;
        height: 126px;

    }


    #pac {
        display: none;
        margin-top: 80px;
    }

    .tekstVerwerker {
        height: 305px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        border: 25px solid gray;
        background-color: white;
        clear: both;
        margin-bottom: 50px;
    }

    #buttons {
        list-style: none;
    }

    .styleBtn {
        float: left;
        width: 20px;
        height: 20px;
        margin-top: 7px;
        margin-right: 20px;
    }

    #verwerker {
        max-width: 100%;
        height: 219px;
        margin-top: 8px;
    }

    #locatie > p {
        display: none;
    }

    #hide {
        height: 250px;

    }
}

.autoheight{
    height:auto;
}

