
@font-face {
    font-family: UltimaItalic;
    src: url('../Fonts/UltimaPDab-HairlineItalic.ttf');
}

@font-face {
    font-family: beauty;
    src: url('../Fonts/MonicasSalonNF.ttf');
}
@font-face{
    font-family: UltimaLight;
    src:url('../Fonts/UltimaPDac-UltraLight.ttf');
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    width:100%;
    background-color: #cab9a7;
    height:auto;
}


/* index pagina */
#mainNav{
    height:85px;
    background-color:#4ca297;
    position:fixed;
    width:100%;
    display:block;
}
#menuNav{
    box-shadow: none;
    border:none;
    margin-left:1.5vw;
    margin-top:20px;
}
#menu{

    font-size:2em;
    padding:0px;
    background-color: #4ca297;
    border:none;
    box-shadow: none;
    outline-color:#4ca297 ;
    color:white;

}
#dropdownMenu{
    margin-left:1.5vw;
    margin-top:40px;

}
#dropdownMenu > .active{
    margin-left:1.7vw;
}
#home{
    display:block;
    width:250px;
    float:right;

}
#home img{
    margin-left:10px;
    height:85px;
    width: auto;
    margin-top:-60px;
}

#home > p{
    display: inline-block;
    width:125px;
    text-align: right;
    font-family: beauty;
    font-size:1.25em;
    color:white;
}

#Intro{
    background-color:#cab9a7;
    margin-left:auto;
    margin-right:auto;
    min-width:800px;
    max-width:1400px;
    height:100vh;
}

#mainFooter{
    height:4%;
    background-color:#f2595b;
    border-top: 3px dashed white;
    position:fixed;
}
#hoofdtitel {
    width: 550px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
}
#pc {
   /* margin-left: 300px; */
    height: 130px;
    width: auto;
    margin-top: 120px;
    margin-left:10px ;
    float: left;
}

#title{
    font-size:4.5em;
    float: left;
    margin-left:40px;
    margin-top:120px;
    color:#f2595b;
    font-family: beauty;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 40px;
}

#title > span{
    font-size:0.71em;
    letter-spacing: 4px;
    display: block;
}
#Start{
    clear:both;
    display:block;
    background-color: #4ca297;
    width:auto;
    height:70px;
    margin-top:90px;
    text-decoration: none;
}
#Start > a{
    text-decoration: none;
}
#Start > a > p{
    text-align: center;
    padding-top: 20px;
    font-family: UltimaItalic;
    font-size:2em;
    color:white;
    font-weight: bold;
}
#tekst{
    width:700px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    border-top:2px solid white;
}
#tekst > p{
    font-family:UltimaItalic;
    width:700px;
    font-size:1.5em;
    color:white;
    text-align: center;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    font-weight: bold;
}

#jaartallen{
    width:1400px;
    height:50px;
    margin-left:20vw;
    margin-right:35vw;

}
#jaartallen > li{
    float:left;
    margin-left:0.5vw;
    margin-right:0.5vw;
    margin-top:10px;
}
#jaartallen > li > a{
    text-decoration: none;
    color:white;
    font-size:1.25vw;
    font-family: UltimaLight;
}
#jaartallen > li > a{
    text-decoration: none;
    color:white;
}
#jaartallen > li > a:hover{
    font-weight: bold;
}

a.active{
    font-weight:bold;
    border-bottom:2px solid white;
}
#journey{
    width:250px;
    float:right;
    text-decoration: none;
    margin-top:-100px;

}
#journey img{
    margin-left:10px;
    height:85px;
    width: auto;

}

#journey > p{
    display: inline-block;
    width:125px;
    text-align: right;
    font-family: beauty;
    font-size:1.25em;
    color:white;

}
#Content{
    width:1400px;
    height:1500vh;
    margin-left:auto;
    margin-right:auto;

}
.pc{
    height:100vh;
    background-color:#cab9a7;
}
.info{
    margin-left:1320px;
    margin-top:10vh;
    width:60px;
    height:60px;
    background-color:#4ca297;

}
.info:hover{
    width:400px;
    height:50vh;
    margin-left:975px;
    margin-top:-40.3vh;
    border-radius:10px;
}
.info:hover > .test{
    display:block;
}
.test{
    display:none;
    color:white;
    margin-top:50px;
    margin-left:20px;
    margin-right:20px;
    padding-top:20px;
    text-align: center;
}
#AboutUs{
    height:100vh;
    width:100vw;
    margin-left:auto;
    margin-right:auto;
background-image: url("../Images/achtergrondaboutus.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#AboutUs > p {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    color: #ffffff;
    font-family: UltimaLight;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;

}
#AboutUs img {
    width: 190px;
    height: auto;
    padding: 20px;
    padding-top: 40px;
    -webkit-filter:blur(2px);

}
#AboutUs img:hover{
    -webkit-filter:blur(0px);
}
@-ms-keyframes wiggle{0%{-ms-transform:rotate(3deg);}50%{-ms-transform:rotate(-3deg);}100%{-ms-transform:rotate(3deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}
@keyframes wiggle{0%{transform:rotate(3deg);}50%{transform:rotate(-3deg);}100%{transform:rotate(3deg);}}
img.wiggle-me:hover{-ms-animation:wiggle .3s 2;-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;animation:wiggle .3s 2;}

/*#AboutProject{
    height:100vh;
    width:1400px;
    margin-left:auto;
    margin-right:auto;
    background-color:#cab9a7;
}*/

#Content img{
    margin-left:32vw;
    width: 60vh;
    margin-top: 200px;
}