
@font-face {
    font-family: UltimaItalic;
    src: url('../Fonts/UltimaPDab-HairlineItalic.ttf');
}

@font-face {
    font-family: beauty;
    src: url('../Fonts/MonicasSalonNF.ttf');
}
@font-face{
    font-family: UltimaLight;
    src:url('../Fonts/UltimaPDac-UltraLight.ttf');
}

body{
    width:100%;
    font-size:1em;
}

#homePage{
    width:100%;
    height:3156px;
}
#mainNav{
    height:8%;
    background-color:#4ca297;
    position:fixed;
}
#Intro{
    background-color:#cab9a7;
    height:33.3333%;

}
#mainFooter{
    height:4%;
    background-color:#f2595b;
    border-top: 3px dashed white;
}

#menuNav{
    box-shadow: none;
    border:none;
}
#menu{
    margin-left:50%;
    margin-top:50%;
    background-color: #4ca297;
    border:none;
    box-shadow: none;
    outline-color:#4ca297 ;
    color:white;
    font-size:3em;
}
#dropdownMenu{
    margin-left:50%;
    margin-top:-25%;

}
#dropdownMenu > .active{
    margin-left:12%;
}
#home{
    display:block;
    width:12%;
    font-size:1.5em;
    margin-left:85.5%;
    color:white;
    margin-top:-2.4%;

}
#home img{
    margin-left:5%;
    width:30%;
    height:27%;
    display: inline-block;
    margin-top:-23.5%
}

#home > p{
    display: inline-block;
    width:50%;
    text-align: right;
    font-family: beauty;
    font-size:1.2em;

}
#pc{
    margin-left:30%;
    width:12%;
    height:22%;
    margin-top:-8.5%;
}
#title{
    display:inline-block;
    font-size:10em;
    margin-left:2%;
    margin-top:15%;
    color:#f2595b;
    font-family: beauty;
    font-weight: bold;
    text-align: justify;

}

#title > span{
    font-size:0.7em;
    letter-spacing: 5px;
    display: block;
}
h1{
    margin-left:33%;
}

#Start{
    display:block;
    background-color: #4ca297;
    width:33.333%;
    height:8%;
    margin-left:33.333%;
    margin-top:5%;
    text-decoration: none;
}
#Start > a{
    text-decoration: none;
}
#Start > a > p{
    text-align: center;
    padding-top: 3.5%;
    font-family: UltimaItalic;
    font-size:3em;
    color:white;
    font-weight: bold;
}
#tekst{
    width:70%;
    margin-left:15%;
    margin-top:5%;
    border-top:2px solid white;
}
#tekst > p{
    font-family:UltimaItalic;
    width:45%;
    font-size:3em;
    color:white;
    text-align: center;
    align-content: center;
    margin-left:27.5%;
    margin-top:3%;
    font-weight: bold;
}
#journeybody{
    font-size:1em;
}
#Content{
    height:15780px;
}
.pc{
    height:6.6666%;
    background-color:#cab9a7;

}
.info{
    margin-left:95%;
    margin-top:50%;
    width:3%;
    height:5%;
    background-color:#4ca297;
    position:fixed;
}
.info:hover{
    width:25%;
    height:50%;
    margin-left:73%;
    margin-top:25%;
    border-radius:10px;
}


#jaartallen{
    width:75%;
    margin-left:15%;
    display:block;
    margin-top:-1.9%;
}
#jaartallen > li{

    display:inline-block;
    color:white;
    font-size:2em;
    font-family:UltimaLight;
    margin-right:2%;
}
#jaartallen > li > a{
    text-decoration: none;
    color:white;
}
#jaartallen > li > a:hover{
    font-weight: bold;
}
a:hover{
    font-weight:bold;
}
a.active{
    font-weight:bold;
    border-bottom:2px solid white;
}

