
@font-face {
    font-family: UltimaItalic;
    src: url('../Fonts/UltimaPDab-HairlineItalic.ttf');
}

@font-face {
    font-family: beauty;
    src: url('../Fonts/MonicasSalonNF.ttf');
}
@font-face{
    font-family: UltimaLight;
    src:url('../Fonts/UltimaPDac-UltraLight.ttf');
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body{
    width:99.1vw;
    height:100vh;
    font-size:100em;
}
#mainNav{
    height:8vh;
    background-color:#4ca297;
    position:fixed;
}
#Intro{
    background-color:#cab9a7;
    height:300vh;

}
#mainFooter{
    height:4vh;
    background-color:#f2595b;
    border-top: 0.3vh dashed white;
}
h1{
    margin-left:33vw;
}

#Start{
    display:block;
    background-color: #4ca297;
    width:33.333vw;
    height:8vh;
    margin-left:33.333vw;
    margin-top:8vh;
    text-decoration: none;
}
#Start > a{
    text-decoration: none;
}
#Start > a > p{
    text-align: center;
    padding-top: 0.75vh;
    font-family: UltimaItalic;
    font-size:5vh;
    color:white;
    font-weight: bold;
}
#menuNav{
    box-shadow: none;
    border:none;
}
#menu{
    margin-left:1.2vw;
    background-color: #4ca297;
    border:none;
    box-shadow: none;
    outline-color:#4ca297 ;
    color:white;
    font-size:2em;
}
#dropdownMenu{
    margin-left:1vw;
    margin-top:-1vh;

}
#dropdownMenu > .active{
    margin-left:1.7vh;
}
#home{
   display:block;
    width:12vw;
    font-size:1.2vh;
    margin-left:85.5vw;
    color:white;
    margin-top:-4vh;

}
#home img{
    margin-left:1vw;
    margin-top:-5.5vh;
    width:4vw;
    height:7vh;
}

#home > p{
    display: inline-block;
    width:7vw;
    text-align: right;
    font-family: beauty;
    font-size:1.8vh;
    margin-top:-0.5vh;
}
#pc{
    margin-left:29vw;
    width:12vw;
    height:22vh;
    margin-top:-15vh;
}
#title{
    display:inline-block;
    font-size:10vh;
    margin-left:2vw;
    margin-top:25vh;
    color:#f2595b;
    font-family: beauty;
    font-weight: bold;
    text-align: justify;

}

#title > span{
    font-size:7vh;
    letter-spacing: 5px;
    display: block;
}
#tekst{
    width:70vw;
    margin-left:15vw;
    margin-top:10vh;
    border-top:2px solid white;
}
#tekst > p{
    font-family:UltimaItalic;
    width:35vw;
    font-size:3vh;
    color:white;
    text-align: center;
    align-content: center;
    margin-left:18vw;
    margin-top:3vh;
    font-weight: bold;
}
#Content{
    height:1500vh;
}
.pc{
    height:100vh;
    background-color:#cab9a7;

}
.info{
    margin-left:95vw;
    margin-top:88.5vh;
    width:3vw;
    height:5vh;
    background-color:#4ca297;
    position:fixed;
}
.info:hover{
    width:25vw;
    height:50vh;
    margin-left:73vw;
    margin-top:43.5vh;
    border-radius:10px;
}


#jaartallen{
    width:75vw;
    margin-left:5vw;
    display: inline-block;
    margin-top:1.5vh;
}
#jaartallen > li{
    margin-top:1vh;
    display: inline-block;
    color:white;
    font-size:2vh;
    font-family:UltimaLight;
    margin-right:2vw;
}
#jaartallen > li > a{
    text-decoration: none;
    color:white;
}
#jaartallen > li > a:hover{
    font-weight: bold;
}
a:hover{
    font-weight:bold;
}
a.active{
    font-weight:bold;
    border-bottom:2px solid white;
}

