<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/bootstrap-theme.css" rel ="stylesheet"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.css.map"/>
    <link href="css/bootstrap.css.map"/>
    <link href="css/project.css" rel="stylesheet"/>
</head>
<body ng-controller="MediaController as main">
<nav id="mainNav" class="navbar navbar-fixed-top">
    <div id="menuNav"class="btn-group">
        <button id="menu" type="button" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></span>
        </button>
        <ul id="dropdownMenu" class="dropdown-menu" role="menu">
            <li class="active">Start the journey</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">About project</a></li>
        </ul>
    </div>

    <ul id="jaartallen" ng-controller="headerCtrl">
        <li ng-repeat="m in media"><a ng-click="gotoAnchor(m.Id)" >{{m.Year}}</a></li>
    </ul>
    <a href="Index.html" id="journey" >
        <p>THE EVOLUTION OF THE COMPUTER</p><img src="Images/pc1.png"/>
    </a>
</nav>

    <div id="Content">
        <div ng-view></div>

    </div>


    <footer id="mainFooter" class="navbar navbar-fixed-bottom"></footer>

<script src="Scripts/angular.js"></script>
<script src="Scripts/angular-route.js"></script>
<script src="Scripts/jquery-2.1.1.js"></script>
<script src="Scripts/bootstrap.min.js"></script>
<script src="Scripts/project.js"></script>
<script src="Scripts/Media.js"></script>
<script src="Src/app.js"></script>
<script src="Src/Controllers/MediaController.js"></script>

</body>
</html>